body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

input {
    width: 60%;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    border: none;
    color: #212D40;
}

button {
    width: 32%;
    padding: 10px 15px;
    border-radius: 0px 8px 8px 0px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color: #212D40;
    cursor: pointer;
}

span {
    font-size: 80px;
    margin-top: 40px;
}

#container {
    width: 99%;
    height: 97%;
    border-radius: 8px;
    background-color: #212D40;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.wrapper {
    width: 300px;
    max-width: 300px;
    border: 1px dashed white;
    border-radius: 8px;
}

.hide {
    display: none;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
}

p {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    margin: 0;
}

#result-container {
    width: 300px;
}

.row-value {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
}